<h1>Cloud Data Management Project: COVID19 analysis</h1>
<h2>730030 Vladi VALSECCHI & 730113 Gianluca MOLTENI</h2>
<p>The project aims to analyze the SARS-CoV-19 pandemic, commonly known as Coronavirus or Covid19 for short.
Through queries on various datasets, relating to the infection and the vaccination campaign, we will investigate different consequences of this pandemic.</p>

In [ ]:
#install pyspark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [ ]:
#Import
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np

In [ ]:
#Datasets urls
url_region="https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv"
url_vaccine="https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/somministrazioni-vaccini-latest.csv"

In [ ]:
#Create pandas data frame from url
pdf_r=pd.read_csv(url_region)
pdf_v=pd.read_csv(url_vaccine)

In [ ]:
#fix regions dataset (keep only date yyyy-mm-dd)
pdf_r['data']=pdf_r['data'].str[:10] #keep only the first 10 characters
#fix vaccine dataset (Provincia Autonoma di Trento and Bolzano from region code 4 to 21 and 22)
unique_areas=pdf_v.nome_area.unique()#create unique area names list
pdf_v.loc[pdf_v.nome_area == unique_areas[11], "codice_regione_ISTAT"] = np.int64(21)#change unique area name region code in position 11 from 4 to 21
pdf_v.loc[pdf_v.nome_area == unique_areas[12], "codice_regione_ISTAT"] = np.int64(22)#change unique area name region code in position 12 from 4 to 22

In [ ]:
#Spark setup
spark = SparkSession.builder.appName("Query").getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

In [ ]:
#Create spark data frame from pandas data frame
dpc_covid19_ita_regioni = spark.createDataFrame(pdf_r)#create spark dataframe for dpc_covid19_ita_regioni
somministrazioni_vaccini_latest=spark.createDataFrame(pdf_v)#create spark dataframe for somministrazioni_vaccini_latest

In [ ]:
#Create temporary views that will be used in the queries
dpc_covid19_ita_regioni.createOrReplaceTempView("base")
somministrazioni_vaccini_latest.createOrReplaceTempView("base2")

In [ ]:
dpc_covid19_ita_regioni.printSchema()

root
 |-- data: string (nullable = true)
 |-- stato: string (nullable = true)
 |-- codice_regione: long (nullable = true)
 |-- denominazione_regione: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- ricoverati_con_sintomi: long (nullable = true)
 |-- terapia_intensiva: long (nullable = true)
 |-- totale_ospedalizzati: long (nullable = true)
 |-- isolamento_domiciliare: long (nullable = true)
 |-- totale_positivi: long (nullable = true)
 |-- variazione_totale_positivi: long (nullable = true)
 |-- nuovi_positivi: long (nullable = true)
 |-- dimessi_guariti: long (nullable = true)
 |-- deceduti: long (nullable = true)
 |-- casi_da_sospetto_diagnostico: double (nullable = true)
 |-- casi_da_screening: double (nullable = true)
 |-- totale_casi: long (nullable = true)
 |-- tamponi: long (nullable = true)
 |-- casi_testati: double (nullable = true)
 |-- note: string (nullable = true)
 |-- ingressi_terapia_intensiva: double (nullable = true)
 |-- note_test: string (nullable = true)
 |-- note_casi: string (nullable = true)
 |-- totale_positivi_test_molecolare: double (nullable = true)
 |-- totale_positivi_test_antigenico_rapido: double (nullable = true)
 |-- tamponi_test_molecolare: double (nullable = true)
 |-- tamponi_test_antigenico_rapido: double (nullable = true)
 |-- codice_nuts_1: string (nullable = true)
 |-- codice_nuts_2: string (nullable = true)

In [ ]:
somministrazioni_vaccini_latest.printSchema()

root
 |-- data_somministrazione: string (nullable = true)
 |-- fornitore: string (nullable = true)
 |-- area: string (nullable = true)
 |-- fascia_anagrafica: string (nullable = true)
 |-- sesso_maschile: long (nullable = true)
 |-- sesso_femminile: long (nullable = true)
 |-- prima_dose: long (nullable = true)
 |-- seconda_dose: long (nullable = true)
 |-- pregressa_infezione: long (nullable = true)
 |-- codice_NUTS1: string (nullable = true)
 |-- codice_NUTS2: string (nullable = true)
 |-- codice_regione_ISTAT: long (nullable = true)
 |-- nome_area: string (nullable = true)

********************************************************************************
Query 0: show last day recorded for each region

SELECT * --select all

FROM base --from dpc_covid19_ita_regioni

ORDER BY data DESC --order from the biggest to the smallest value

LIMIT 21 --limit to 21 to get only 1 result for each region

In [ ]:
query_0=spark.sql("SELECT * FROM base ORDER BY data DESC LIMIT 21")
query_0.show(21)

+----------+-----+--------------+---------------------+-----------+------------------+----------------------+-----------------+--------------------+----------------------+---------------+--------------------------+--------------+---------------+--------+----------------------------+-----------------+-----------+--------+------------+--------------------+--------------------------+---------+--------------------+-------------------------------+--------------------------------------+-----------------------+------------------------------+-------------+-------------+
|      data|stato|codice_regione|denominazione_regione|        lat|              long|ricoverati_con_sintomi|terapia_intensiva|totale_ospedalizzati|isolamento_domiciliare|totale_positivi|variazione_totale_positivi|nuovi_positivi|dimessi_guariti|deceduti|casi_da_sospetto_diagnostico|casi_da_screening|totale_casi| tamponi|casi_testati|                note|ingressi_terapia_intensiva|note_test|           note_casi|totale_positivi_test_molecolare|totale_positivi_test_antigenico_rapido|tamponi_test_molecolare|tamponi_test_antigenico_rapido|codice_nuts_1|codice_nuts_2|
+----------+-----+--------------+---------------------+-----------+------------------+----------------------+-----------------+--------------------+----------------------+---------------+--------------------------+--------------+---------------+--------+----------------------------+-----------------+-----------+--------+------------+--------------------+--------------------------+---------+--------------------+-------------------------------+--------------------------------------+-----------------------+------------------------------+-------------+-------------+
|2021-07-13|  ITA|            13|              Abruzzo|42.35122196|       13.39843823|                    28|                1|                  29|                   903|            932|                       -10|            33|          71751|    2512|                        null|             null|      75195| 1751751|    706224.0|                null|                       0.0|     null|                null|                        75195.0|                                   0.0|              1216563.0|                      535188.0|          ITF|         ITF1|
|2021-07-13|  ITA|             2|        Valle d'Aosta|45.73750286|       7.320149366|                     0|                0|                   0|                    19|             19|                        -3|             1|          11210|     474|                        null|             null|      11703|  144342|     68309.0|                null|                       0.0|     null|                null|                        11025.0|                                 678.0|               101764.0|                       42578.0|          ITC|         ITC2|
|2021-07-13|  ITA|             5|               Veneto|45.43490485|       12.33845213|                    42|                8|                  50|                  5225|           5275|                       194|           254|         409845|   11623|                        null|             null|     426743| 8964062|   1861010.0|                null|                       2.0|     null|                null|                       414719.0|                               12024.0|              5773091.0|                     3190971.0|          ITH|         ITH3|
|2021-07-13|  ITA|            17|           Basilicata|40.63947052|       15.80514834|                    12|                0|                  12|                   542|            554|                        -4|             3|          25899|     591|                        null|             null|      27044|  399971|    213303.0| Il numero totale...|                       0.0|     null|                null|                        27044.0|                                   0.0|               381422.0|                       18549.0|          ITF|         ITF5|
|2021-07-13|  ITA|            18|             Calabria|38.90597598|       16.59440194|                    44|                2|                  46|                  2009|           2055|                        -4|            45|          66096|    1236|                        null|             null|      69387|  956364|    875212.0|                null|                       0.0|     null|                null|                        69373.0|                                  14.0|               888477.0|                       67887.0|          ITF|         ITF6|
|2021-07-13|  ITA|            15|             Campania|40.83956555|       14.25084984|                   197|               14|                 211|                  6561|           6772|                       -32|           136|         411799|    7551|                        null|             null|     426122| 5433896|   3299268.0|                null|                       0.0|     null|                null|                       414534.0|                               11588.0|              4669021.0|                      764875.0|          ITF|         ITF3|
|2021-07-13|  ITA|             8|       Emilia-Romagna|44.49436681|11.341720800000001|                   144|               13|                 157|                  1956|           2113|                       -83|            76|         372408|   13268|                        null|             null|     387789| 6924098|   1925988.0|Sono stati elimin...|                       0.0|     null|                null|                       387467.0|                                 322.0|              5083798.0|                     1840300.0|          ITH|         ITH5|
|2021-07-13|  ITA|             6| Friuli Venezia Gi...| 45.6494354|       13.76813649|                     4|                1|                   5|                   224|            229|                         4|            15|         103107|    3789|                        null|             null|     107125| 2214662|    695039.0|Il totale dei cas...|                       0.0|     null|                null|                        92634.0|                               14491.0|              1833732.0|                      380930.0|          ITH|         ITH4|
|2021-07-13|  ITA|            12|                Lazio|41.89277044|       12.48366722|                   129|               25|                 154|                  2001|           2155|                       -64|           166|         336904|    8380|                        null|             null|     347439| 7902542|   4487414.0|                null|                       0.0|     null|                null|                       338848.0|                                8591.0|              5055403.0|                     2847139.0|          ITI|         ITI4|
|2021-07-13|  ITA|             7|              Liguria|44.41149315|         8.9326992|                    11|                6|                  17|                   168|            185|                        10|            25|          99093|    4352|                        null|             null|     103630| 1817831|    703931.0|                null|                       0.0|     null|In Regione Liguri...|                       103630.0|                                   0.0|              1405066.0|                      412765.0|          ITC|         ITC3|
|2021-07-13|  ITA|             3|            Lombardia|45.46679409|       9.190347404|                   131|               35|                 166|                  7674|           7840|                       212|           241|         802249|   33802|                        null|             null|     843891|11963426|   4740895.0|                null|                       0.0|     null|                null|                       789170.0|                               54721.0|              9568562.0|                     2394864.0|          ITC|         ITC4|
|2021-07-13|  ITA|            11|               Marche|43.61675973|        13.5188753|                     9|                2|                  11|                  1328|           1339|                        10|            21|          99670|    3038|                        null|             null|     104047| 1325881|    775056.0|                null|                       0.0|     null|                null|                       104047.0|                                   0.0|              1180432.0|                      145449.0|          ITI|         ITI3|
|2021-07-13|  ITA|            14|               Molise|41.55774754|       14.65916051|                     1|                0|                   1|                    54|             55|                        -7|             0|          13203|     492|                        null|             null|      13750|  244525|    211215.0|                null|                       0.0|     null|                null|                        13750.0|                                   0.0|               231495.0|                       13030.0|          ITF|         ITF2|
|2021-07-13|  ITA|            21|         P.A. Bolzano|46.49933453|       11.35662422|                     6|                2|                   8|                   131|            139|                        12|            18|          72089|    1182|                        null|             null|      73410| 1670110|    429693.0|                null|                       0.0|     null|18 nuovi positivi...|                        60178.0|                               13232.0|               601182.0|                     1068928.0|          ITH|         ITH1|
|2021-07-13|  ITA|            22|          P.A. Trento|46.06893511|       11.12123097|                     0|                0|                   0|                    49|             49|                        -3|            10|          44416|    1363|                        null|             null|      45828|  884608|    239343.0|                null|                       0.0|     null|                null|                        32803.0|                               13025.0|               685527.0|                      199081.0|          ITH|         ITH2|
|2021-07-13|  ITA|             1|             Piemonte| 45.0732745|       7.680687483|                    55|                3|                  58|                   719|            777|                        26|            53|         350885|   11698|                        null|             null|     363360| 5200541|   2033747.0|                null|                       1.0|     null|                null|                       344582.0|                               18778.0|              3116852.0|                     2083689.0|          ITC|         ITC1|
|2021-07-13|  ITA|            16|               Puglia|41.12559576|       16.86736689|                    69|                8|                  77|                  1635|           1712|                      -167|            97|         245548|    6653|                        null|             null|     253913| 2748902|   1256069.0|                null|                       0.0|     null|                null|                       253004.0|                                 909.0|              2433971.0|                      314931.0|          ITF|         ITF4|
|2021-07-13|  ITA|            20|             Sardegna|39.21531192|       9.110616306|                    42|                1|                  43|                  2520|           2563|                        77|            86|          53611|    1492|                        null|             null|      57666| 1419811|    828452.0|                null|                       0.0|     null|                null|                        57649.0|                                  17.0|               989603.0|                      430208.0|          ITG|         ITG2|
|2021-07-13|  ITA|            19|              Sicilia|38.11569725|13.362356699999998|                   139|               20|                 159|                  3636|           3795|                        60|           174|         223823|    5996|                        null|             null|     233614| 5038068|   1907421.0|                null|                       2.0|     null|                null|                       233614.0|                                   0.0|              2693478.0|                     2344590.0|          ITG|         ITG1|
|2021-07-13|  ITA|             9|              Toscana|43.76923077|       11.25588885|                    57|               15|                  72|                  1396|           1468|                        -3|            65|         236719|    6892|                        null|             null|     245079| 5265110|   2412512.0|                null|                       2.0|     null|                null|                       241573.0|                                3506.0|              3933342.0|                     1331768.0|          ITI|         ITI1|
|2021-07-13|  ITA|            10|               Umbria|43.10675841|       12.38824698|                     8|                1|                   9|                   614|            623|                        -2|            15|          54911|    1424|                        null|             null|      56958| 1504873|    396963.0|                null|                       0.0|     null|                null|                        56958.0|                                   0.0|               988983.0|                      515890.0|          ITI|         ITI2|
+----------+-----+--------------+---------------------+-----------+------------------+----------------------+-----------------+--------------------+----------------------+---------------+--------------------------+--------------+---------------+--------+----------------------------+-----------------+-----------+--------+------------+--------------------+--------------------------+---------+--------------------+-------------------------------+--------------------------------------+-----------------------+------------------------------+-------------+-------------+

********************************************************************************
Query 1: show top 5 regions for most cases

SELECT

MAX(totale_casi) AS top_5_regions_for_most_cases, --get max value of 
totale_casi alias top_5_regions_for_most_cases

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last 
date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MAX(totale_casi) DESC  --order from biggest to smallest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_1=spark.sql("SELECT MAX(totale_casi) AS top_5_regions_for_most_cases, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MAX(totale_casi) DESC LIMIT 5")
query_1.show()

+----------------------------+--------------+
|top_5_regions_for_most_cases|        region|
+----------------------------+--------------+
|                      843891|     Lombardia|
|                      426743|        Veneto|
|                      426122|      Campania|
|                      387789|Emilia-Romagna|
|                      363360|      Piemonte|
+----------------------------+--------------+

********************************************************************************
Query 2: show top 5 regions for less cases

SELECT 

MIN(totale_casi) AS top_5_regions_for_less_cases, --get min value of totale_casi alias top_5_regions_for_less_cases

denominazione_regione AS region  --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21)  --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MIN(totale_casi) ASC --order from smallest to biggest value 

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_2=spark.sql("SELECT MIN(totale_casi) AS top_5_regions_for_less_cases, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MIN(totale_casi) ASC LIMIT 5")
query_2.show()

+----------------------------+-------------+
|top_5_regions_for_less_cases|       region|
+----------------------------+-------------+
|                       11703|Valle d'Aosta|
|                       13750|       Molise|
|                       27044|   Basilicata|
|                       45828|  P.A. Trento|
|                       56958|       Umbria|
+----------------------------+-------------+

********************************************************************************
Query 3: show average number of cases daily for each region

SELECT 

AVG(nuovi_positivi) AS avg_new_cases_daily, --get average value of nuovi_positivi alias avg_new_cases_daily

denominazione_regione AS region --denominazione_regione alias region

FROM base --from dpc_covid19_ita_regioni

GROUP BY denominazione_regione --group each region name

ORDER BY AVG(nuovi_positivi) DESC --order from biggest to smallest value

In [ ]:
query_3=spark.sql("SELECT AVG(nuovi_positivi) AS avg_new_cases_daily, denominazione_regione AS region FROM base GROUP BY denominazione_regione ORDER BY AVG(nuovi_positivi) DESC")
query_3.show(21)

+-------------------+--------------------+
|avg_new_cases_daily|              region|
+-------------------+--------------------+
| 1667.8162055335968|           Lombardia|
|  843.3636363636364|              Veneto|
|  842.0553359683795|            Campania|
|  769.0889328063241|      Emilia-Romagna|
|  723.2213438735178|            Piemonte|
|  686.6363636363636|               Lazio|
|  501.8102766798419|              Puglia|
| 484.34584980237156|             Toscana|
| 462.47233201581025|             Sicilia|
|  213.4683794466403|Friuli Venezia Gi...|
|  205.6304347826087|              Marche|
| 204.42094861660078|             Liguria|
|  148.9683794466403|             Abruzzo|
| 137.10474308300394|            Calabria|
| 124.43873517786561|        P.A. Bolzano|
| 114.00197628458498|            Sardegna|
| 112.56521739130434|              Umbria|
|  89.80434782608695|         P.A. Trento|
|  53.47826086956522|          Basilicata|
| 27.181818181818183|              Molise|
|  23.07509881422925|       Valle d'Aosta|
+-------------------+--------------------+

********************************************************************************
Query 4: show top 5 regions for most diagnostic tests done

SELECT 

MAX(tamponi) AS top_5_regions_for_most_DiagnosticTests_done, --get max value of tamponi alias top_5_regions_for_most_DiagnosticTests_done

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MAX(tamponi) DESC --order from biggest to smallest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_4=spark.sql("SELECT MAX(tamponi) AS top_5_regions_for_most_DiagnosticTests_done, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MAX(tamponi) DESC LIMIT 5")
query_4.show()

+-------------------------------------------+--------------+
|top_5_regions_for_most_DiagnosticTests_done|        region|
+-------------------------------------------+--------------+
|                                   11963426|     Lombardia|
|                                    8964062|        Veneto|
|                                    7902542|         Lazio|
|                                    6924098|Emilia-Romagna|
|                                    5433896|      Campania|
+-------------------------------------------+--------------+

********************************************************************************
Query 5: show top 5 regions for less diagnostic tests done

SELECT 

MIN(tamponi) AS top_5_regions_for_less_DiagnosticTests_done, --get min value of tamponi alias top_5_regions_for_less_DiagnosticTests_done

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MIN(tamponi) ASC --order from smallest to biggest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_5=spark.sql("SELECT MIN(tamponi) AS top_5_regions_for_less_DiagnosticTests_done, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MIN(tamponi) ASC LIMIT 5")
query_5.show()

+-------------------------------------------+-------------+
|top_5_regions_for_less_DiagnosticTests_done|       region|
+-------------------------------------------+-------------+
|                                     144342|Valle d'Aosta|
|                                     244525|       Molise|
|                                     399971|   Basilicata|
|                                     884608|  P.A. Trento|
|                                     956364|     Calabria|
+-------------------------------------------+-------------+

********************************************************************************
Query 6: show average number of diagnostic tests done daily for each region

SELECT 

AVG(tamponi) AS avg_new_DiagnosticTests_daily, --get average value of tamponi alias avg_new_DiagnosticTests_daily

denominazione_regione AS region --denominazione_regione alias region

FROM base --from dpc_covid19_ita_regioni

GROUP BY denominazione_regione --group each region name

ORDER BY AVG(tamponi) DESC --order from the biggest to the smallest value

In [ ]:
query_6=spark.sql("SELECT AVG(tamponi) AS avg_new_DiagnosticTests_daily, denominazione_regione AS region FROM base GROUP BY denominazione_regione ORDER BY AVG(tamponi) DESC")
query_6.show(21)

+-----------------------------+--------------------+
|avg_new_DiagnosticTests_daily|              region|
+-----------------------------+--------------------+
|            4236973.332015811|           Lombardia|
|            3225902.796442688|              Veneto|
|           2509649.9980237153|               Lazio|
|           2399146.1264822134|      Emilia-Romagna|
|           1778264.9308300395|            Campania|
|           1743723.0928853755|             Toscana|
|           1686678.3577075098|            Piemonte|
|           1486382.3932806323|             Sicilia|
|            939772.3023715415|              Puglia|
|            815072.2865612648|Friuli Venezia Gi...|
|            637635.3478260869|             Liguria|
|            566370.3656126482|             Abruzzo|
|           502037.25889328064|        P.A. Bolzano|
|            498379.9743083004|              Marche|
|            492159.8577075099|              Umbria|
|           470909.86363636365|            Sardegna|
|           370628.00790513837|         P.A. Trento|
|            362773.8577075099|            Calabria|
|           152000.58300395258|          Basilicata|
|            94195.68577075099|              Molise|
|           53759.798418972336|       Valle d'Aosta|
+-----------------------------+--------------------+

********************************************************************************
Query 7: show top 5 regions for most deaths

SELECT 

MAX(deceduti) AS top_5_regions_for_most_deaths, --get max value of deceduti alias top_5_regions_for_most_deaths

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MAX(deceduti) DESC --order from the biggest to the smallest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_7=spark.sql("SELECT MAX(deceduti) AS top_5_regions_for_most_deaths, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MAX(deceduti) DESC LIMIT 5")
query_7.show()

+-----------------------------+--------------+
|top_5_regions_for_most_deaths|        region|
+-----------------------------+--------------+
|                        33802|     Lombardia|
|                        13268|Emilia-Romagna|
|                        11698|      Piemonte|
|                        11623|        Veneto|
|                         8380|         Lazio|
+-----------------------------+--------------+

********************************************************************************
Query 8: show top 5 regions for less deaths

SELECT 

MIN(deceduti) AS top_5_regions_for_less_deaths, --get min value of deceduti alias top_5_regions_for_less_deaths

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MIN(deceduti) ASC --order from smallest to the biggest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_8=spark.sql("SELECT MIN(deceduti) AS top_5_regions_for_less_deaths, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MIN(deceduti) ASC LIMIT 5")
query_8.show()

+-----------------------------+-------------+
|top_5_regions_for_less_deaths|       region|
+-----------------------------+-------------+
|                          474|Valle d'Aosta|
|                          492|       Molise|
|                          591|   Basilicata|
|                         1182| P.A. Bolzano|
|                         1236|     Calabria|
+-----------------------------+-------------+

********************************************************************************
Query 9: show average number of deaths daily for each region

SELECT 

AVG(deceduti) AS avg_deaths_daily, --get average value of deceduti alias avg_deaths_daily

denominazione_regione AS region --denominazione_regione alias region

FROM base --from dpc_covid19_ita_regioni

GROUP BY denominazione_regione --group each region name

ORDER BY AVG(deceduti) DESC --order from the biggest to the smallest value

In [ ]:
query_9=spark.sql("SELECT AVG(deceduti) AS avg_deaths_daily, denominazione_regione AS region FROM base GROUP BY denominazione_regione ORDER BY AVG(deceduti) DESC")
query_9.show(21)

+------------------+--------------------+
|  avg_deaths_daily|              region|
+------------------+--------------------+
|21201.533596837944|           Lombardia|
| 6920.652173913043|      Emilia-Romagna|
| 6303.365612648221|            Piemonte|
| 5273.818181818182|              Veneto|
|3195.7509881422925|               Lazio|
| 2871.195652173913|             Toscana|
|2508.0573122529645|            Campania|
|2390.6383399209485|             Liguria|
|2305.9644268774705|              Puglia|
|2113.2509881422925|             Sicilia|
|1546.9841897233202|              Marche|
|1476.3517786561265|Friuli Venezia Gi...|
|1074.0197628458498|             Abruzzo|
| 737.7094861660079|         P.A. Trento|
| 592.9229249011858|        P.A. Bolzano|
| 590.9584980237154|            Sardegna|
| 528.6758893280632|              Umbria|
|415.45652173913044|            Calabria|
|264.04545454545456|       Valle d'Aosta|
|205.34387351778656|          Basilicata|
| 178.4822134387352|              Molise|
+------------------+--------------------+

********************************************************************************
Query 10: show top 5 regions for most healed

SELECT 

MAX(dimessi_guariti) AS top_5_regions_for_most_healed, --get max value of dimessi_guariti 

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MAX(dimessi_guariti) DESC --order from the biggest to the smallest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_10=spark.sql("SELECT MAX(dimessi_guariti) AS top_5_regions_for_most_healed, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MAX(dimessi_guariti) DESC LIMIT 5")
query_10.show()

+-----------------------------+--------------+
|top_5_regions_for_most_healed|        region|
+-----------------------------+--------------+
|                       802249|     Lombardia|
|                       411799|      Campania|
|                       409845|        Veneto|
|                       372408|Emilia-Romagna|
|                       350885|      Piemonte|
+-----------------------------+--------------+

********************************************************************************
Query 11: show top 5 regions for less healed

SELECT 

MIN(dimessi_guariti) AS top_5_regions_for_less_healed, --get max value of dimessi_guariti alias top_5_regions_for_less_healed

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MIN(dimessi_guariti) ASC --order from the smallest to the biggest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_11=spark.sql("SELECT MIN(dimessi_guariti) AS top_5_regions_for_less_healed, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MIN(dimessi_guariti) ASC LIMIT 5")
query_11.show()

+-----------------------------+-------------+
|top_5_regions_for_less_healed|       region|
+-----------------------------+-------------+
|                        11210|Valle d'Aosta|
|                        13203|       Molise|
|                        25899|   Basilicata|
|                        44416|  P.A. Trento|
|                        53611|     Sardegna|
+-----------------------------+-------------+

********************************************************************************
Query 12: show average number of healed daily for each region

SELECT 

AVG(dimessi_guariti) AS avg_healed_daily, --get average value of dimessi_guariti alias avg_healed_daily

denominazione_regione AS region --denominazione_regione alias region

FROM base --from dpc_covid19_ita_regioni

GROUP BY denominazione_regione --group each region name

ORDER BY AVG(dimessi_guariti) DESC --order from the biggest to the smallest value

In [ ]:
query_12=spark.sql("SELECT AVG(dimessi_guariti) AS avg_healed_daily, denominazione_regione AS region FROM base GROUP BY denominazione_regione ORDER BY AVG(dimessi_guariti) DESC")
query_12.show(21)

+------------------+--------------------+
|  avg_healed_daily|              region|
+------------------+--------------------+
| 297069.9624505929|           Lombardia|
| 143929.3557312253|              Veneto|
|125870.22134387352|            Piemonte|
|116682.88735177866|      Emilia-Romagna|
|107495.87351778656|            Campania|
| 96871.41501976285|               Lazio|
| 77513.57509881422|             Toscana|
| 63654.11462450593|             Sicilia|
| 61095.96442687747|              Puglia|
|38441.650197628456|             Liguria|
| 33442.66996047431|Friuli Venezia Gi...|
|31922.851778656128|              Marche|
|23620.152173913044|        P.A. Bolzano|
|22018.723320158104|             Abruzzo|
|18967.569169960476|              Umbria|
|16755.013833992096|         P.A. Trento|
| 16630.60276679842|            Calabria|
|14179.754940711462|            Sardegna|
| 6326.442687747036|          Basilicata|
| 4374.353754940711|              Molise|
| 4337.077075098814|       Valle d'Aosta|
+------------------+--------------------+

********************************************************************************
Query 13: show top 5 regions for most people in intensive care in a single day

SELECT 

MAX(terapia_intensiva) AS top_5_regions_for_most_IC, --get max value of terapia_intensiva alias top_5_regions_for_most_IC

denominazione_regione AS region --denominazione_regione alias region

FROM base --from dpc_covid19_ita_regioni

GROUP BY denominazione_regione --group each region name

ORDER BY MAX(terapia_intensiva) DESC --order from the biggest to the smallest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_13=spark.sql("SELECT MAX(terapia_intensiva) AS top_5_regions_for_most_IC, denominazione_regione AS region FROM base GROUP BY denominazione_regione ORDER BY MAX(terapia_intensiva) DESC LIMIT 5")
query_13.show(21)

+-------------------------+--------------+
|top_5_regions_for_most_IC|        region|
+-------------------------+--------------+
|                     1381|     Lombardia|
|                      453|      Piemonte|
|                      402|Emilia-Romagna|
|                      398|         Lazio|
|                      372|        Veneto|
+-------------------------+--------------+

********************************************************************************
Query 14: show top 5 regions for less people in intensive care in the last day recorded

SELECT 

MIN(terapia_intensiva) AS top_5_regions_for_less_IC_in_the_last_day, --get min value of terapia_intensiva alias top_5_regions_for_less_IC_in_the_last_day

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MIN(terapia_intensiva) ASC --order from the smallest to the biggest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_14=spark.sql("SELECT MIN(terapia_intensiva) AS top_5_regions_for_less_IC_in_the_last_day, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MIN(terapia_intensiva) ASC LIMIT 5")
query_14.show()

+-----------------------------------------+--------------------+
|top_5_regions_for_less_IC_in_the_last_day|              region|
+-----------------------------------------+--------------------+
|                                        0|       Valle d'Aosta|
|                                        0|          Basilicata|
|                                        0|              Molise|
|                                        0|         P.A. Trento|
|                                        1|Friuli Venezia Gi...|
+-----------------------------------------+--------------------+

********************************************************************************
Query 15: show average number of people in intensive care daily for each region

SELECT 

AVG(terapia_intensiva) AS avg_IC_daily, --get average value of terapia_intensiva alias avg_IC_daily

denominazione_regione AS region --denominazione_regione alias region

FROM base --from dpc_covid19_ita_regioni

GROUP BY denominazione_regione --group each region name

ORDER BY AVG(terapia_intensiva) DESC --order from the biggest to the smallest value

In [ ]:
query_15=spark.sql("SELECT AVG(terapia_intensiva) AS avg_IC_daily, denominazione_regione AS region FROM base GROUP BY denominazione_regione ORDER BY AVG(terapia_intensiva) DESC")
query_15.show(21)

+------------------+--------------------+
|      avg_IC_daily|              region|
+------------------+--------------------+
|398.07707509881425|           Lombardia|
| 158.0592885375494|               Lazio|
|147.72924901185772|      Emilia-Romagna|
|147.51581027667984|            Piemonte|
|125.36561264822134|              Veneto|
|118.43873517786561|             Toscana|
| 87.96837944664031|              Puglia|
| 83.91304347826087|             Sicilia|
| 73.49802371541502|            Campania|
| 49.95652173913044|              Marche|
| 47.58695652173913|             Liguria|
|29.211462450592887|             Abruzzo|
|27.523715415019762|Friuli Venezia Gi...|
|26.954545454545453|              Umbria|
|23.474308300395258|            Sardegna|
| 20.75098814229249|         P.A. Trento|
|14.867588932806324|        P.A. Bolzano|
|14.640316205533598|            Calabria|
| 5.723320158102767|          Basilicata|
| 5.132411067193676|              Molise|
| 4.262845849802371|       Valle d'Aosta|
+------------------+--------------------+

********************************************************************************
Query 16: show region with most cases in a single day and date

SELECT 

denominazione_regione AS region_with_most_cases_in_a_single_day, --denominazione_regione alias region_with_most_cases_in_a_single_day

data AS date, --data alias date

nuovi_positivi AS new_cases --nuovi_positivi alias new_cases

FROM base --from dpc_covid19_ita_regioni

ORDER BY nuovi_positivi DESC --order from the biggest to the smallest value

LIMIT 1 --limit to 1 to get only the first result

In [ ]:
query_16=spark.sql("SELECT denominazione_regione AS region_with_most_cases_in_a_single_day, data AS date, nuovi_positivi AS new_cases FROM base ORDER BY nuovi_positivi DESC LIMIT 1")
query_16.show()

+--------------------------------------+----------+---------+
|region_with_most_cases_in_a_single_day|      date|new_cases|
+--------------------------------------+----------+---------+
|                             Lombardia|2020-11-07|    11489|
+--------------------------------------+----------+---------+

********************************************************************************
Query 17: show date with biggest increase of cases in Italy and number of cases

SELECT 

data AS date_with_most_cases_in_Italy, --data alias date_with_most_cases_in_Italy

SUM(nuovi_positivi) AS cases --sum nuovi_positivi alias cases

FROM base --from dpc_covid19_ita_regioni

GROUP BY data --group each date

ORDER BY SUM(nuovi_positivi) DESC --order from the biggest to the smallest value

LIMIT 1 --limit to 1 to get only the first result

In [ ]:
query_17=spark.sql("SELECT data AS date_with_biggest_increase_cases_in_Italy, SUM(nuovi_positivi) AS cases FROM base GROUP BY data ORDER BY SUM(nuovi_positivi) DESC LIMIT 1")
query_17.show()

+-----------------------------------------+-----+
|date_with_biggest_increase_cases_in_Italy|cases|
+-----------------------------------------+-----+
|                               2020-11-13|40902|
+-----------------------------------------+-----+

********************************************************************************
Query 18: show biggest increase of cases in a single region and date

SELECT 

variazione_totale_positivi AS biggest_increase_of_cases, --variazione_totale_positivi alias biggest_increase_of_cases

denominazione_regione AS region, --denominazione_regione alias region

data AS date --data alias date

FROM base --from dpc_covid19_ita_regioni

ORDER BY variazione_totale_positivi DESC --order from the biggest to the smallest value

LIMIT 1 --limit to 1 to get only the first result

In [ ]:
query_18=spark.sql("SELECT variazione_totale_positivi AS biggest_increase_of_cases, denominazione_regione AS region, data AS date FROM base ORDER BY variazione_totale_positivi DESC LIMIT 1")
query_18.show()

+-------------------------+---------+----------+
|biggest_increase_of_cases|   region|      date|
+-------------------------+---------+----------+
|                    10263|Lombardia|2020-11-07|
+-------------------------+---------+----------+

********************************************************************************
Query 19: show biggest decrease of cases in a single region and date

SELECT 

variazione_totale_positivi AS biggest_decrease_of_cases, --variazione_totale_positivi alias biggest_decrease_of_cases

denominazione_regione AS region, --denominazione_regione alias region

data AS date --data alias date

FROM base --from dpc_covid19_ita_regioni

ORDER BY variazione_totale_positivi ASC --order from the smallest to the biggest value

LIMIT 1 --limit to 1 to get only the first result

In [ ]:
query_19=spark.sql("SELECT variazione_totale_positivi AS biggest_decrease_of_cases, denominazione_regione AS region, data AS date FROM base ORDER BY variazione_totale_positivi ASC LIMIT 1")
query_19.show()

+-------------------------+--------+----------+
|biggest_decrease_of_cases|  region|      date|
+-------------------------+--------+----------+
|                   -48092|Campania|2021-06-15|
+-------------------------+--------+----------+

********************************************************************************
Query 20: show top 5 regions for most people in home isolation of all time

SELECT 

MAX(isolamento_domiciliare) AS top_5_regions_for_most_home_isolation_of_all_time, --get max value of isolamento_domiciliare alias top_5_regions_for_most_home_isolation_of_all_time

denominazione_regione AS region --denominazione_regione alias region

FROM base --from dpc_covid19_ita_regioni

GROUP BY denominazione_regione --group each region name

ORDER BY MAX(isolamento_domiciliare) DESC --order from the biggest to the smallest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_20=spark.sql("SELECT MAX(isolamento_domiciliare) AS top_5_regions_for_most_home_isolation_of_all_time, denominazione_regione AS region FROM base GROUP BY denominazione_regione ORDER BY MAX(isolamento_domiciliare) DESC LIMIT 5")
query_20.show()

+-------------------------------------------------+---------+
|top_5_regions_for_most_home_isolation_of_all_time|   region|
+-------------------------------------------------+---------+
|                                           155066|Lombardia|
|                                           102438| Campania|
|                                           101041|   Veneto|
|                                            90735|    Lazio|
|                                            73011| Piemonte|
+-------------------------------------------------+---------+

********************************************************************************
Query 21: show top 5 regions for less people in home isolation in the last day 
recorded
SELECT 

MIN(isolamento_domiciliare) AS top_5_regions_for_less_home_isolation_in_the_last_day, --get min value of isolamento_domiciliare alias top_5_regions_for_less_home_isolation_in_the_last_day

denominazione_regione AS region --denominazione_regione alias region

FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) --from rows with the last date recorded

GROUP BY denominazione_regione --group each region name

ORDER BY MIN(isolamento_domiciliare) ASC --order from the smallest to the biggest value

LIMIT 5 --limit to 5 to get only the first 5 results

In [ ]:
query_21=spark.sql("SELECT MIN(isolamento_domiciliare) AS top_5_regions_for_less_home_isolation_in_the_last_day, denominazione_regione AS region FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) GROUP BY denominazione_regione ORDER BY MIN(isolamento_domiciliare) ASC LIMIT 5")
query_21.show()

+-----------------------------------------------------+-------------+
|top_5_regions_for_less_home_isolation_in_the_last_day|       region|
+-----------------------------------------------------+-------------+
|                                                   19|Valle d'Aosta|
|                                                   49|  P.A. Trento|
|                                                   54|       Molise|
|                                                  131| P.A. Bolzano|
|                                                  168|      Liguria|
+-----------------------------------------------------+-------------+

********************************************************************************
Query 22: show average number of people in home isolation daily for each region

SELECT 

AVG(isolamento_domiciliare) AS avg_home_isolation_daily, --get average value of isolamento_domiciliare alias avg_home_isolation_daily

denominazione_regione AS region --denominazione_regione alias region

FROM base --from dpc_covid19_ita_regioni

GROUP BY denominazione_regione --group each region name

ORDER BY AVG(isolamento_domiciliare) DESC --order from the biggest to the smallest value

In [ ]:
query_22=spark.sql("SELECT AVG(isolamento_domiciliare) AS avg_home_isolation_daily, denominazione_regione AS region FROM base GROUP BY denominazione_regione ORDER BY AVG(isolamento_domiciliare) DESC")
query_22.show(21)

+------------------------+--------------------+
|avg_home_isolation_daily|              region|
+------------------------+--------------------+
|       37699.69565217391|            Campania|
|       37060.92490118577|           Lombardia|
|       24552.12648221344|               Lazio|
|       23227.31818181818|      Emilia-Romagna|
|      20904.098814229248|              Veneto|
|      18647.203557312252|              Puglia|
|       13400.05138339921|            Piemonte|
|      12721.478260869566|             Sicilia|
|      10142.707509881422|             Toscana|
|       6843.333992094862|            Sardegna|
|       5001.559288537549|             Abruzzo|
|       4881.875494071146|Friuli Venezia Gi...|
|       4552.646245059289|              Marche|
|       4539.940711462451|            Calabria|
|      3159.2747035573125|             Liguria|
|       2832.620553359684|        P.A. Bolzano|
|      2460.2648221343875|              Umbria|
|       2288.498023715415|          Basilicata|
|      1096.0652173913043|         P.A. Trento|
|       613.8498023715415|              Molise|
|      353.77667984189725|       Valle d'Aosta|
+------------------------+--------------------+

********************************************************************************
Query 23: show top 5 regions for total cases and number of first doses, second doses and total doses of vaccine done

--td total doses

--lr last record

--sd sum doses

--fsd first second doses


SELECT 

td.region, --region name from td

td.total_cases, --total cases from td

fsd.first_dose, --first dose from fsd

fsd.second_dose, --second dose from fsd

td.total_doses --total doses from td

FROM 

	(SELECT 

	base.denominazione_regione, --denominazione_regione from dpc_covid19_ita_regioni

	SUM(base2.prima_dose) AS first_dose, --sum prima_dose from somministrazioni_vaccini_latest alias first_dose

	SUM(base2.seconda_dose) AS second_dose --sum seconda_dose from somministrazioni_vaccini_latest alias second_dose

	FROM base --from dpc_covid19_ita_regioni

	JOIN base2 --inner join somministrazioni_vaccini_latest

	ON base.data=base2.data_somministrazione --matching based on dates

	AND base.codice_regione=base2.codice_regione_ISTAT --and matching based on region codes

	GROUP BY base.denominazione_regione) AS fsd --group each region name, alias fsd

JOIN --inner join

	(SELECT 

	lr.denominazione_regione AS region, --denominazione_regione from lr alias region

	lr.totale_casi AS total_cases, --totale_casi from lr alias total_cases

	sd.dosi AS total_doses --dosi from sd alias total_doses

	FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) AS lr --from rows with the last date recorded, alias lr

	JOIN --inner join

		(SELECT 

		base.denominazione_regione, --denominazione_regione from dpc_covid19_ita_regioni

		SUM(base2.prima_dose)+SUM(base2.seconda_dose) AS dosi --sum sums of prima_dose and seconda_dose alias dosi

		FROM base --from dpc_covid19_ita_regioni

		JOIN base2 --inner join somministrazioni_vaccini_latest

		ON base.data=base2.data_somministrazione --matching based on dates

		AND base.codice_regione=base2.codice_regione_ISTAT --and matching based on region codes

		GROUP BY base.denominazione_regione) AS sd --group each region name, alias sd

	ON lr.denominazione_regione=sd.denominazione_regione --matching based on region names

	ORDER BY lr.totale_casi DESC --order from biggest to smallest value

	LIMIT 5) AS td --limit to 5 to get only the first 5 results, alias td

ON td.region=fsd.denominazione_regione --matching based on region names

ORDER BY td.total_cases DESC --order from biggest to smallest value

In [ ]:
query_23=spark.sql("SELECT td.region, td.total_cases, fsd.first_dose, fsd.second_dose, td.total_doses FROM (SELECT base.denominazione_regione, SUM(base2.prima_dose) AS first_dose, SUM(base2.seconda_dose) AS second_dose FROM base JOIN base2 ON base.data=base2.data_somministrazione AND base.codice_regione=base2.codice_regione_ISTAT GROUP BY base.denominazione_regione) AS fsd JOIN (SELECT lr.denominazione_regione AS region, lr.totale_casi AS total_cases, sd.dosi AS total_doses FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) AS lr JOIN (SELECT base.denominazione_regione, SUM(base2.prima_dose)+SUM(base2.seconda_dose) AS dosi FROM base JOIN base2 ON base.data=base2.data_somministrazione AND base.codice_regione=base2.codice_regione_ISTAT GROUP BY base.denominazione_regione) AS sd ON lr.denominazione_regione=sd.denominazione_regione ORDER BY lr.totale_casi DESC LIMIT 5) AS td ON td.region=fsd.denominazione_regione ORDER BY td.total_cases DESC")
query_23.show()

+--------------+-----------+----------+-----------+-----------+
|        region|total_cases|first_dose|second_dose|total_doses|
+--------------+-----------+----------+-----------+-----------+
|     Lombardia|     843891|   6441249|    3832843|   10274092|
|        Veneto|     426743|   2748421|    1879097|    4627518|
|      Campania|     426122|   3357789|    2306355|    5664144|
|Emilia-Romagna|     387789|   2573969|    1698010|    4271979|
|      Piemonte|     363360|   2529698|    1620581|    4150279|
+--------------+-----------+----------+-----------+-----------+

********************************************************************************
Query 24: show top 5 regions for total healed and number of first doses, second doses and total doses of vaccine done

--td total doses

--lr last record

--sd sum doses

--fsd first second doses


SELECT 

td.region, --region name from td

td.total_healed, --total healed from td

fsd.first_dose, --first dose from fsd

fsd.second_dose, --second dose from fsd

td.total_doses --total doses from td

FROM 

	(SELECT 

	base.denominazione_regione, --denominazione_regione from dpc_covid19_ita_regioni

	SUM(base2.prima_dose) AS first_dose, --sum prima_dose from somministrazioni_vaccini_latest alias first_dose

	SUM(base2.seconda_dose) AS second_dose --sum seconda_dose from somministrazioni_vaccini_latest alias second_dose

	FROM base --from dpc_covid19_ita_regioni

	JOIN base2 --inner join somministrazioni_vaccini_latest

	ON base.data=base2.data_somministrazione --matching based on dates

	AND base.codice_regione=base2.codice_regione_ISTAT --and matching based on region codes

	GROUP BY base.denominazione_regione) AS fsd --group each region name, alias fsd

JOIN --inner join

	(SELECT 

	lr.denominazione_regione AS region, --denominazione_regione from lr alias region

	lr.dimessi_guariti AS total_healed, --dimessi_guariti from lr alias total_healed

	sd.dosi AS total_doses --dosi from sd alias total_doses

	FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) AS lr --from rows with the last date recorded, alias lr

	JOIN --inner join

		(SELECT 

		base.denominazione_regione, --denominazione_regione from dpc_covid19_ita_regioni

		SUM(base2.prima_dose)+SUM(base2.seconda_dose) AS dosi --sum sums of prima_dose and seconda_dose alias dosi

		FROM base --from dpc_covid19_ita_regioni

		JOIN base2 --inner join somministrazioni_vaccini_latest

		ON base.data=base2.data_somministrazione --matching based on dates

		AND base.codice_regione=base2.codice_regione_ISTAT --and matching based on region codes

		GROUP BY base.denominazione_regione) AS sd --group each region name, alias sd

	ON lr.denominazione_regione=sd.denominazione_regione --matching based on region names

	ORDER BY lr.totale_casi DESC --order from biggest to smallest value

	LIMIT 5) AS td --limit to 5 to get only the first 5 results, alias td

ON td.region=fsd.denominazione_regione --matching based on region names

ORDER BY td.total_healed DESC --order from biggest to smallest value

In [ ]:
query_24=spark.sql("SELECT td.region, td.total_healed, fsd.first_dose, fsd.second_dose, td.total_doses FROM (SELECT base.denominazione_regione, SUM(base2.prima_dose) AS first_dose, SUM(base2.seconda_dose) AS second_dose FROM base JOIN base2 ON base.data=base2.data_somministrazione AND base.codice_regione=base2.codice_regione_ISTAT GROUP BY base.denominazione_regione) AS fsd JOIN (SELECT lr.denominazione_regione AS region, lr.dimessi_guariti AS total_healed, sd.dosi AS total_doses FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) AS lr JOIN (SELECT base.denominazione_regione, SUM(base2.prima_dose)+SUM(base2.seconda_dose) AS dosi FROM base JOIN base2 ON base.data=base2.data_somministrazione AND base.codice_regione=base2.codice_regione_ISTAT GROUP BY base.denominazione_regione) AS sd ON lr.denominazione_regione=sd.denominazione_regione ORDER BY lr.totale_casi DESC LIMIT 5) AS td ON td.region=fsd.denominazione_regione ORDER BY td.total_healed DESC")
query_24.show()

+--------------+------------+----------+-----------+-----------+
|        region|total_healed|first_dose|second_dose|total_doses|
+--------------+------------+----------+-----------+-----------+
|     Lombardia|      802249|   6441249|    3832843|   10274092|
|      Campania|      411799|   3357789|    2306355|    5664144|
|        Veneto|      409845|   2748421|    1879097|    4627518|
|Emilia-Romagna|      372408|   2573969|    1698010|    4271979|
|      Piemonte|      350885|   2529698|    1620581|    4150279|
+--------------+------------+----------+-----------+-----------+

********************************************************************************
Query 25: show top 5 regions for total deaths and number of first doses, second doses and total doses of vaccine done

SELECT 

td.region, --region name from td

td.total_deaths, --total deaths from td

fsd.first_dose, --first dose from fsd

fsd.second_dose, --second dose from fsd

td.total_doses --total doses from td

FROM 

	(SELECT 

	base.denominazione_regione, --denominazione_regione from dpc_covid19_ita_regioni

	SUM(base2.prima_dose) AS first_dose, --sum prima_dose from somministrazioni_vaccini_latest alias first_dose

	SUM(base2.seconda_dose) AS second_dose --sum seconda_dose from somministrazioni_vaccini_latest alias second_dose

	FROM base --from dpc_covid19_ita_regioni

	JOIN base2 --inner join somministrazioni_vaccini_latest

	ON base.data=base2.data_somministrazione --matching based on dates

	AND base.codice_regione=base2.codice_regione_ISTAT --and matching based on region codes

	GROUP BY base.denominazione_regione) AS fsd --group each region name, alias fsd

JOIN --inner join

	(SELECT 

	lr.denominazione_regione AS region, --denominazione_regione from lr alias region

	lr.deceduti AS total_deaths, --deceduti from lr alias total_deaths

	sd.dosi AS total_doses --dosi from sd alias total_doses

	FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) AS lr --from rows with the last date recorded, alias lr

	JOIN --inner join

		(SELECT 

		base.denominazione_regione, --denominazione_regione from dpc_covid19_ita_regioni

		SUM(base2.prima_dose)+SUM(base2.seconda_dose) AS dosi --sum sums of prima_dose and seconda_dose alias dosi

		FROM base --from dpc_covid19_ita_regioni

		JOIN base2 --inner join somministrazioni_vaccini_latest

		ON base.data=base2.data_somministrazione --matching based on dates

		AND base.codice_regione=base2.codice_regione_ISTAT --and matching based on region codes

		GROUP BY base.denominazione_regione) AS sd --group each region name, alias sd

	ON lr.denominazione_regione=sd.denominazione_regione --matching based on region names

	ORDER BY lr.totale_casi DESC --order from biggest to smallest value

	LIMIT 5) AS td --limit to 5 to get only the first 5 results, alias td

ON td.region=fsd.denominazione_regione --matching based on region names

ORDER BY td.total_deaths DESC --order from biggest to smallest value

In [ ]:
query_25=spark.sql("SELECT td.region, td.total_deaths, fsd.first_dose, fsd.second_dose, td.total_doses FROM (SELECT base.denominazione_regione, SUM(base2.prima_dose) AS first_dose, SUM(base2.seconda_dose) AS second_dose FROM base JOIN base2 ON base.data=base2.data_somministrazione AND base.codice_regione=base2.codice_regione_ISTAT GROUP BY base.denominazione_regione) AS fsd JOIN (SELECT lr.denominazione_regione AS region, lr.deceduti AS total_deaths, sd.dosi AS total_doses FROM (SELECT * FROM base ORDER BY data DESC LIMIT 21) AS lr JOIN (SELECT base.denominazione_regione, SUM(base2.prima_dose)+SUM(base2.seconda_dose) AS dosi FROM base JOIN base2 ON base.data=base2.data_somministrazione AND base.codice_regione=base2.codice_regione_ISTAT GROUP BY base.denominazione_regione) AS sd ON lr.denominazione_regione=sd.denominazione_regione ORDER BY lr.totale_casi DESC LIMIT 5) AS td ON td.region=fsd.denominazione_regione ORDER BY td.total_deaths DESC")
query_25.show()

+--------------+------------+----------+-----------+-----------+
|        region|total_deaths|first_dose|second_dose|total_doses|
+--------------+------------+----------+-----------+-----------+
|     Lombardia|       33802|   6441249|    3832843|   10274092|
|Emilia-Romagna|       13268|   2573969|    1698010|    4271979|
|      Piemonte|       11698|   2529698|    1620581|    4150279|
|        Veneto|       11623|   2748421|    1879097|    4627518|
|      Campania|        7551|   3357789|    2306355|    5664144|
+--------------+------------+----------+-----------+-----------+

********************************************************************************
Query 26: show for each vaccine the number of first doses, second doses and total doses done

SELECT 

fornitore AS vaccine, --fornitore as vaccine

SUM(prima_dose) AS first_dose, --sum prima_dose alias first_dose

SUM(seconda_dose) AS second_dose, --sum seconda_dose alias second_dose

SUM(prima_dose)+SUM(seconda_dose) AS total_doses --sum sums of prima_dose and seconda_dose alias total_doses

FROM base2 --from somministrazioni_vaccini_latest

GROUP BY fornitore --group each vaccine name

In [ ]:
query_26=spark.sql("SELECT fornitore AS vaccine, SUM(prima_dose) AS first_dose, SUM(seconda_dose) AS second_dose, SUM(prima_dose)+SUM(seconda_dose) AS total_doses FROM base2 GROUP BY fornitore")
query_26.show()

+--------------------+----------+-----------+-----------+
|             vaccine|first_dose|second_dose|total_doses|
+--------------------+----------+-----------+-----------+
|Vaxzevria (AstraZ...|   6339847|    3605565|    9945412|
|             Janssen|   1276592|          0|    1276592|
|             Moderna|   3267167|    2362126|    5629293|
|     Pfizer/BioNTech|  24381186|   16779533|   41160719|
+--------------------+----------+-----------+-----------+

********************************************************************************
Query 27: show for each region, for each vaccine the number of first doses, second doses and total doses done

SELECT 

nome_area AS region, --nome_area alias region

codice_regione_ISTAT AS reg_cod, --codice_regione_ISTAT alias reg_cod

fornitore AS vaccine, --fornitore as vaccine

SUM(prima_dose) AS first_dose, --sum prima_dose alias first_dose

SUM(seconda_dose) AS second_dose, --sum seconda_dose alias second_dose

SUM(prima_dose)+SUM(seconda_dose) AS total_doses --sum sums of prima_dose and seconda_dose alias total_doses

FROM base2 --from somministrazioni_vaccini_latest

GROUP BY nome_area, codice_regione_ISTAT, fornitore --group each region name, region code and vaccine name

ORDER BY codice_regione_ISTAT,fornitore --order from the smallest to the biggest value by default codice_regione_ISTAT then fornitore

In [ ]:
query_27=spark.sql("SELECT area AS region, codice_regione_ISTAT AS reg_cod, fornitore AS vaccine, SUM(prima_dose) AS first_dose, SUM(seconda_dose) AS second_dose, SUM(prima_dose)+SUM(seconda_dose) AS total_doses FROM base2 GROUP BY area, codice_regione_ISTAT, fornitore ORDER BY codice_regione_ISTAT,fornitore")
query_27.show(84)

+------+-------+--------------------+----------+-----------+-----------+
|region|reg_cod|             vaccine|first_dose|second_dose|total_doses|
+------+-------+--------------------+----------+-----------+-----------+
|   PIE|      1|             Janssen|     63923|          0|      63923|
|   PIE|      1|             Moderna|    232157|     158403|     390560|
|   PIE|      1|     Pfizer/BioNTech|   1825357|    1199233|    3024590|
|   PIE|      1|Vaxzevria (AstraZ...|    408261|     262945|     671206|
|   VDA|      2|             Janssen|       968|          0|        968|
|   VDA|      2|             Moderna|      4876|       4518|       9394|
|   VDA|      2|     Pfizer/BioNTech|     49633|      36124|      85757|
|   VDA|      2|Vaxzevria (AstraZ...|     13137|       6040|      19177|
|   LOM|      3|             Janssen|    266389|          0|     266389|
|   LOM|      3|             Moderna|    586415|     414466|    1000881|
|   LOM|      3|     Pfizer/BioNTech|   4383737|    2787737|    7171474|
|   LOM|      3|Vaxzevria (AstraZ...|   1204708|     630640|    1835348|
|   VEN|      5|             Janssen|     61770|          0|      61770|
|   VEN|      5|             Moderna|    249181|     186792|     435973|
|   VEN|      5|     Pfizer/BioNTech|   1955730|    1396702|    3352432|
|   VEN|      5|Vaxzevria (AstraZ...|    481740|     295603|     777343|
|   FVG|      6|             Janssen|     22754|          0|      22754|
|   FVG|      6|             Moderna|     60193|      53157|     113350|
|   FVG|      6|     Pfizer/BioNTech|    461176|     372770|     833946|
|   FVG|      6|Vaxzevria (AstraZ...|    138504|      68422|     206926|
|   LIG|      7|             Janssen|     31733|          0|      31733|
|   LIG|      7|             Moderna|     84078|      57507|     141585|
|   LIG|      7|     Pfizer/BioNTech|    624425|     427355|    1051780|
|   LIG|      7|Vaxzevria (AstraZ...|    177413|      71146|     248559|
|   EMR|      8|             Janssen|     87516|          0|      87516|
|   EMR|      8|             Moderna|    274281|     158062|     432343|
|   EMR|      8|     Pfizer/BioNTech|   1764325|    1275474|    3039799|
|   EMR|      8|Vaxzevria (AstraZ...|    447847|     264474|     712321|
|   TOS|      9|             Janssen|     64449|          0|      64449|
|   TOS|      9|             Moderna|    215075|     132050|     347125|
|   TOS|      9|     Pfizer/BioNTech|   1507178|     897324|    2404502|
|   TOS|      9|Vaxzevria (AstraZ...|    363885|     228918|     592803|
|   UMB|     10|             Janssen|     16870|          0|      16870|
|   UMB|     10|             Moderna|     48261|      29548|      77809|
|   UMB|     10|     Pfizer/BioNTech|    359065|     225368|     584433|
|   UMB|     10|Vaxzevria (AstraZ...|     98488|      67041|     165529|
|   MAR|     11|             Janssen|     23130|          0|      23130|
|   MAR|     11|             Moderna|     84105|      60810|     144915|
|   MAR|     11|     Pfizer/BioNTech|    618724|     416067|    1034791|
|   MAR|     11|Vaxzevria (AstraZ...|    165812|     101889|     267701|
|   LAZ|     12|             Janssen|    211491|          0|     211491|
|   LAZ|     12|             Moderna|    307674|     212065|     519739|
|   LAZ|     12|     Pfizer/BioNTech|   2355990|    1753814|    4109804|
|   LAZ|     12|Vaxzevria (AstraZ...|    675312|     402777|    1078089|
|   ABR|     13|             Janssen|     22905|          0|      22905|
|   ABR|     13|             Moderna|     70967|      48943|     119910|
|   ABR|     13|     Pfizer/BioNTech|    527633|     369456|     897089|
|   ABR|     13|Vaxzevria (AstraZ...|    164905|      64663|     229568|
|   MOL|     14|             Janssen|      5211|          0|       5211|
|   MOL|     14|             Moderna|     17188|      12807|      29995|
|   MOL|     14|     Pfizer/BioNTech|    120535|      88041|     208576|
|   MOL|     14|Vaxzevria (AstraZ...|     33737|      24208|      57945|
|   CAM|     15|             Janssen|    107056|          0|     107056|
|   CAM|     15|             Moderna|    329459|     275342|     604801|
|   CAM|     15|     Pfizer/BioNTech|   2268169|    1682963|    3951132|
|   CAM|     15|Vaxzevria (AstraZ...|    653105|     348050|    1001155|
|   PUG|     16|             Janssen|    102273|          0|     102273|
|   PUG|     16|             Moderna|    211190|     151302|     362492|
|   PUG|     16|     Pfizer/BioNTech|   1663932|    1138350|    2802282|
|   PUG|     16|Vaxzevria (AstraZ...|    451663|     281771|     733434|
|   BAS|     17|             Janssen|      9524|          0|       9524|
|   BAS|     17|             Moderna|     25819|      17755|      43574|
|   BAS|     17|     Pfizer/BioNTech|    223415|     153163|     376578|
|   BAS|     17|Vaxzevria (AstraZ...|     59368|      21293|      80661|
|   CAL|     18|             Janssen|     49987|          0|      49987|
|   CAL|     18|             Moderna|     87039|      71063|     158102|
|   CAL|     18|     Pfizer/BioNTech|    716499|     490273|    1206772|
|   CAL|     18|Vaxzevria (AstraZ...|    197659|      68964|     266623|
|   SIC|     19|             Janssen|    102397|          0|     102397|
|   SIC|     19|             Moderna|    240447|     201090|     441537|
|   SIC|     19|     Pfizer/BioNTech|   1909049|    1318706|    3227755|
|   SIC|     19|Vaxzevria (AstraZ...|    317837|     219074|     536911|
|   SAR|     20|             Janssen|     16341|          0|      16341|
|   SAR|     20|             Moderna|     83330|      75812|     159142|
|   SAR|     20|     Pfizer/BioNTech|    644130|     446772|    1090902|
|   SAR|     20|Vaxzevria (AstraZ...|    190523|     107423|     297946|
|   PAB|     21|             Janssen|      6413|          0|       6413|
|   PAB|     21|             Moderna|     28646|      23004|      51650|
|   PAB|     21|     Pfizer/BioNTech|    181270|     149004|     330274|
|   PAB|     21|Vaxzevria (AstraZ...|     60171|      42358|     102529|
|   PAT|     22|             Janssen|      3492|          0|       3492|
|   PAT|     22|             Moderna|     26786|      17630|      44416|
|   PAT|     22|     Pfizer/BioNTech|    221214|     154837|     376051|
|   PAT|     22|Vaxzevria (AstraZ...|     35772|      27866|      63638|
+------+-------+--------------------+----------+-----------+-----------+

********************************************************************************
Query 28: show the number of doses administered to males, females and the total number

SELECT 

SUM(sesso_maschile) AS males, --sum sesso_maschile alias males

SUM(sesso_femminile) AS females, --sum sesso_femminile alias females

SUM(sesso_maschile)+SUM(sesso_femminile) AS combined --sum sums of sesso_maschile and sesso_femminile alias combined

FROM base2 -- from somministrazioni_vaccini_latest

In [ ]:
query_28=spark.sql("SELECT SUM(sesso_maschile) AS males, SUM(sesso_femminile) AS females, SUM(sesso_maschile)+SUM(sesso_femminile) AS combined FROM base2")
query_28.show()

+--------+--------+--------+
|   males| females|combined|
+--------+--------+--------+
|27427183|31362716|58789899|
+--------+--------+--------+

********************************************************************************
Query 29: show for each region the number of doses administered to males, 
females and the total number

SELECT 

nome_area AS region, --nome_area alias region

SUM(sesso_maschile) AS total_doses_received_males, --sum sesso_maschile alias total_doses_received_males 

SUM(sesso_femminile) AS total_doses_received_females, --sum sesso_femminile alias total_doses_received_females

SUM(sesso_maschile)+SUM(sesso_femminile) AS total_doses_received --sum of sums of sesso_maschile and sesso_femminile alias total_doses_received

FROM base2 --from somministrazioni_vaccini_latest

GROUP BY nome_area --group each region name

ORDER BY total_doses_received DESC --order from the biggest to the smallest value

In [ ]:
query_29=spark.sql("SELECT area AS region, SUM(sesso_maschile) AS total_doses_received_males, SUM(sesso_femminile) AS total_doses_received_females, SUM(sesso_maschile)+SUM(sesso_femminile) AS total_doses_received FROM base2 GROUP BY area ORDER BY total_doses_received DESC")
query_29.show(22)

+------+--------------------------+----------------------------+--------------------+
|region|total_doses_received_males|total_doses_received_females|total_doses_received|
+------+--------------------------+----------------------------+--------------------+
|   LOM|                   4875449|                     5564048|            10439497|
|   LAZ|                   2767637|                     3216792|             5984429|
|   CAM|                   2732054|                     3013501|             5745555|
|   VEN|                   2225489|                     2517787|             4743276|
|   SIC|                   2046789|                     2302374|             4349163|
|   EMR|                   1991478|                     2328145|             4319623|
|   PIE|                   1939871|                     2251379|             4191250|
|   PUG|                   1885143|                     2171999|             4057142|
|   TOS|                   1583177|                     1868803|             3451980|
|   CAL|                    804701|                      884314|             1689015|
|   SAR|                    734707|                      843738|             1578445|
|   MAR|                    695867|                      798155|             1494022|
|   LIG|                    682331|                      800026|             1482357|
|   ABR|                    598942|                      688569|             1287511|
|   FVG|                    559939|                      632718|             1192657|
|   UMB|                    389545|                      461837|              851382|
|   BAS|                    240875|                      273638|              514513|
|   PAT|                    237235|                      267204|              504439|
|   PAB|                    238122|                      253501|              491623|
|   MOL|                    142136|                      162855|              304991|
|   VDA|                     55696|                       61333|              117029|
+------+--------------------------+----------------------------+--------------------+

********************************************************************************
Query 30: show for each age group the number of first doses, second doses and total doses done

SELECT 

fascia_anagrafica AS age_group, --fascia_anagrafica alias age_group

SUM(prima_dose) AS first_dose, --sum prima_dose alias first_dose

SUM(seconda_dose) AS second_dose, --sum seconda_dose alias second_dose

SUM(prima_dose)+SUM(seconda_dose) AS total_doses --sum sums of prima_dose and seconda_dose alias total_doses

FROM base2 --from somministrazioni_vaccini_latest

GROUP BY fascia_anagrafica --group each age group

ORDER BY fascia_anagrafica --order from the smallest to the biggest value by default

In [ ]:
query_30=spark.sql("SELECT fascia_anagrafica AS age_group, SUM(prima_dose) AS first_dose, SUM(seconda_dose) AS second_dose, SUM(prima_dose)+SUM(seconda_dose) AS total_doses FROM base2 GROUP BY fascia_anagrafica ORDER BY fascia_anagrafica")
query_30.show()

+---------+----------+-----------+-----------+
|age_group|first_dose|second_dose|total_doses|
+---------+----------+-----------+-----------+
|    12-19|   1151003|     274188|    1425191|
|    20-29|   2998593|    1079569|    4078162|
|    30-39|   3490333|    1437616|    4927949|
|    40-49|   5378490|    2801931|    8180421|
|    50-59|   6906355|    4869320|   11775675|
|    60-69|   6024298|    4057641|   10081939|
|    70-79|   5168175|    4238675|    9406850|
|    80-89|   3369692|    3254089|    6623781|
|      90+|    777853|     734195|    1512048|
+---------+----------+-----------+-----------+

********************************************************************************
Query 31: show for each region, for each age group the number of first doses, second doses and total doses done

SELECT 

nome_area AS region, --nome_area alias region

fascia_anagrafica AS age_group, --fascia_anagrafica alias age_group

SUM(prima_dose) AS first_dose, --sum prima_dose alias first_dose

SUM(seconda_dose) AS second_dose, --sum seconda_dose alias second_dose

SUM(prima_dose)+SUM(seconda_dose) AS total_doses --sum sums of prima_dose and seconda_dose alias total_doses

FROM base2 --from somministrazioni_vaccini_latest

GROUP BY nome_area, fascia_anagrafica --group each region name then each age group

ORDER BY nome_area, fascia_anagrafica --order alphabetically region names then from the smallest to the biggest value the age groups

In [ ]:
query_31=spark.sql("SELECT area AS region, fascia_anagrafica AS age_group, SUM(prima_dose) AS first_dose, SUM(seconda_dose) AS second_dose, SUM(prima_dose)+SUM(seconda_dose) AS total_doses FROM base2 GROUP BY area, fascia_anagrafica ORDER BY area, fascia_anagrafica")
query_31.show(189)

+------+---------+----------+-----------+-----------+
|region|age_group|first_dose|second_dose|total_doses|
+------+---------+----------+-----------+-----------+
|   ABR|    12-19|     27406|       8052|      35458|
|   ABR|    20-29|     68700|      23940|      92640|
|   ABR|    30-39|     74252|      30558|     104810|
|   ABR|    40-49|    117454|      62934|     180388|
|   ABR|    50-59|    149407|      92631|     242038|
|   ABR|    60-69|    138628|      90757|     229385|
|   ABR|    70-79|    116577|      83242|     199819|
|   ABR|    80-89|     75638|      73331|     148969|
|   ABR|      90+|     18348|      17617|      35965|
|   BAS|    12-19|      8684|       2061|      10745|
|   BAS|    20-29|     22716|      11168|      33884|
|   BAS|    30-39|     26034|      14883|      40917|
|   BAS|    40-49|     48902|      23446|      72348|
|   BAS|    50-59|     63362|      35293|      98655|
|   BAS|    60-69|     61389|      34002|      95391|
|   BAS|    70-79|     47095|      33261|      80356|
|   BAS|    80-89|     32093|      30698|      62791|
|   BAS|      90+|      7851|       7399|      15250|
|   CAL|    12-19|     45345|      10383|      55728|
|   CAL|    20-29|    101333|      33749|     135082|
|   CAL|    30-39|    111382|      46290|     157672|
|   CAL|    40-49|    153796|      78009|     231805|
|   CAL|    50-59|    192432|     110302|     302734|
|   CAL|    60-69|    189235|     129745|     318980|
|   CAL|    70-79|    148936|     118923|     267859|
|   CAL|    80-89|     89236|      84782|     174018|
|   CAL|      90+|     19489|      18117|      37606|
|   CAM|    12-19|    169146|      45622|     214768|
|   CAM|    20-29|    383231|     174075|     557306|
|   CAM|    30-39|    388226|     197060|     585286|
|   CAM|    40-49|    533964|     396344|     930308|
|   CAM|    50-59|    645629|     552404|    1198033|
|   CAM|    60-69|    550744|     353053|     903797|
|   CAM|    70-79|    420689|     336923|     757612|
|   CAM|    80-89|    223243|     211897|     435140|
|   CAM|      90+|     42917|      38977|      81894|
|   EMR|    12-19|     85117|       9674|      94791|
|   EMR|    20-29|    168351|      69821|     238172|
|   EMR|    30-39|    210261|      93505|     303766|
|   EMR|    40-49|    385421|     171585|     557006|
|   EMR|    50-59|    519143|     387439|     906582|
|   EMR|    60-69|    449868|     299626|     749494|
|   EMR|    70-79|    399773|     320447|     720220|
|   EMR|    80-89|    282467|     275733|     558200|
|   EMR|      90+|     73568|      70180|     143748|
|   FVG|    12-19|     16616|       4406|      21022|
|   FVG|    20-29|     56464|      28969|      85433|
|   FVG|    30-39|     58624|      33440|      92064|
|   FVG|    40-49|     98249|      81028|     179277|
|   FVG|    50-59|    129241|     116339|     245580|
|   FVG|    60-69|    114173|      61261|     175434|
|   FVG|    70-79|    112073|      74392|     186465|
|   FVG|    80-89|     78188|      76353|     154541|
|   FVG|      90+|     18999|      18161|      37160|
|   LAZ|    12-19|    104311|      70850|     175161|
|   LAZ|    20-29|    280756|      75147|     355903|
|   LAZ|    30-39|    366590|     114820|     481410|
|   LAZ|    40-49|    584555|     270420|     854975|
|   LAZ|    50-59|    724019|     486914|    1210933|
|   LAZ|    60-69|    604159|     514356|    1118515|
|   LAZ|    70-79|    496041|     459686|     955727|
|   LAZ|    80-89|    319260|     309287|     628547|
|   LAZ|      90+|     70776|      67176|     137952|
|   LIG|    12-19|     25109|       2432|      27541|
|   LIG|    20-29|     71282|      20808|      92090|
|   LIG|    30-39|     74637|      25842|     100479|
|   LIG|    40-49|    113306|      45531|     158837|
|   LIG|    50-59|    175283|     112813|     288096|
|   LIG|    60-69|    158317|      81478|     239795|
|   LIG|    70-79|    154687|     128199|     282886|
|   LIG|    80-89|    115751|     111820|     227571|
|   LIG|      90+|     29277|      27085|      56362|
|   LOM|    12-19|    258559|      30348|     288907|
|   LOM|    20-29|    619507|     198823|     818330|
|   LOM|    30-39|    718543|     295516|    1014059|
|   LOM|    40-49|   1015518|     478363|    1493881|
|   LOM|    50-59|   1250056|     798502|    2048558|
|   LOM|    60-69|    999495|     639663|    1639158|
|   LOM|    70-79|    866609|     698320|    1564929|
|   LOM|    80-89|    582935|     568600|    1151535|
|   LOM|      90+|    130027|     124708|     254735|
|   MAR|    12-19|     28763|       7466|      36229|
|   MAR|    20-29|     75205|      24610|      99815|
|   MAR|    30-39|     79181|      32199|     111380|
|   MAR|    40-49|    129511|      70828|     200339|
|   MAR|    50-59|    164114|     113758|     277872|
|   MAR|    60-69|    154710|      99643|     254353|
|   MAR|    70-79|    136888|     110891|     247779|
|   MAR|    80-89|     98613|      95612|     194225|
|   MAR|      90+|     24786|      23759|      48545|
|   MOL|    12-19|      4830|        437|       5267|
|   MOL|    20-29|     10755|       3504|      14259|
|   MOL|    30-39|     14122|       5302|      19424|
|   MOL|    40-49|     26931|      10517|      37448|
|   MOL|    50-59|     35003|      29917|      64920|
|   MOL|    60-69|     34054|      28821|      62875|
|   MOL|    70-79|     27163|      23534|      50697|
|   MOL|    80-89|     18734|      18229|      36963|
|   MOL|      90+|      5079|       4795|       9874|
|   PAB|    12-19|      7634|       2654|      10288|
|   PAB|    20-29|     27244|      13786|      41030|
|   PAB|    30-39|     29830|      16833|      46663|
|   PAB|    40-49|     43052|      34289|      77341|
|   PAB|    50-59|     56263|      48529|     104792|
|   PAB|    60-69|     44864|      37468|      82332|
|   PAB|    70-79|     37539|      33345|      70884|
|   PAB|    80-89|     24474|      22544|      47018|
|   PAB|      90+|      5600|       4918|      10518|
|   PAT|    12-19|      6786|        520|       7306|
|   PAT|    20-29|     25771|       7178|      32949|
|   PAT|    30-39|     25560|       8535|      34095|
|   PAT|    40-49|     40064|      13117|      53181|
|   PAT|    50-59|     57217|      50500|     107717|
|   PAT|    60-69|     51880|      44674|      96554|
|   PAT|    70-79|     44328|      41421|      85749|
|   PAT|    80-89|     27980|      27039|      55019|
|   PAT|      90+|      7678|       7349|      15027|
|   PIE|    12-19|     47427|       7062|      54489|
|   PIE|    20-29|    205694|      66033|     271727|
|   PIE|    30-39|    232955|      89362|     322317|
|   PIE|    40-49|    367377|     152022|     519399|
|   PIE|    50-59|    490443|     339485|     829928|
|   PIE|    60-69|    436503|     296354|     732857|
|   PIE|    70-79|    400815|     338032|     738847|
|   PIE|    80-89|    283990|     272797|     556787|
|   PIE|      90+|     64494|      59434|     123928|
|   PUG|    12-19|     66440|      28560|      95000|
|   PUG|    20-29|    180405|      66974|     247379|
|   PUG|    30-39|    249350|      99020|     348370|
|   PUG|    40-49|    395597|     198362|     593959|
|   PUG|    50-59|    481027|     340257|     821284|
|   PUG|    60-69|    431260|     292105|     723365|
|   PUG|    70-79|    364377|     297449|     661826|
|   PUG|    80-89|    213184|     203981|     417165|
|   PUG|      90+|     47418|      44715|      92133|
|   SAR|    12-19|     20348|       3880|      24228|
|   SAR|    20-29|     64864|      24034|      88898|
|   SAR|    30-39|     79355|      36763|     116118|
|   SAR|    40-49|    151255|      94158|     245413|
|   SAR|    50-59|    186110|     145418|     331528|
|   SAR|    60-69|    178149|     110196|     288345|
|   SAR|    70-79|    147581|     114694|     262275|
|   SAR|    80-89|     87365|      83224|     170589|
|   SAR|      90+|     19297|      17640|      36937|
|   SIC|    12-19|    107797|      23496|     131293|
|   SIC|    20-29|    262111|     103843|     365954|
|   SIC|    30-39|    272620|     127281|     399901|
|   SIC|    40-49|    381560|     253036|     634596|
|   SIC|    50-59|    474628|     350186|     824814|
|   SIC|    60-69|    444974|     330779|     775753|
|   SIC|    70-79|    364106|     304055|     668161|
|   SIC|    80-89|    216573|     204831|     421404|
|   SIC|      90+|     45361|      41363|      86724|
|   TOS|    12-19|     42158|       4467|      46625|
|   TOS|    20-29|    139381|      52052|     191433|
|   TOS|    30-39|    202026|      67804|     269830|
|   TOS|    40-49|    277768|     115590|     393358|
|   TOS|    50-59|    430421|     217310|     647731|
|   TOS|    60-69|    386811|     212911|     599722|
|   TOS|    70-79|    358083|     284463|     642546|
|   TOS|    80-89|    250510|     242830|     493340|
|   TOS|      90+|     63429|      60865|     124294|
|   UMB|    12-19|      5893|       2166|       8059|
|   UMB|    20-29|     21256|      15413|      36669|
|   UMB|    30-39|     53143|      21645|      74788|
|   UMB|    40-49|     82825|      33274|     116099|
|   UMB|    50-59|    103251|      46812|     150063|
|   UMB|    60-69|     93942|      63396|     157338|
|   UMB|    70-79|     86072|      65031|     151103|
|   UMB|    80-89|     60278|      58814|     119092|
|   UMB|      90+|     16024|      15406|      31430|
|   VDA|    12-19|      1235|        161|       1396|
|   VDA|    20-29|      4870|       1663|       6533|
|   VDA|    30-39|      6325|       2256|       8581|
|   VDA|    40-49|      9961|       4798|      14759|
|   VDA|    50-59|     14493|      11732|      26225|
|   VDA|    60-69|     12260|       7952|      20212|
|   VDA|    70-79|     10887|       9783|      20670|
|   VDA|    80-89|      6948|       6731|      13679|
|   VDA|      90+|      1635|       1606|       3241|
|   VEN|    12-19|     71399|       9491|      80890|
|   VEN|    20-29|    208697|      63979|     272676|
|   VEN|    30-39|    217317|      78702|     296019|
|   VEN|    40-49|    421424|     214280|     635704|
|   VEN|    50-59|    564813|     482779|    1047592|
|   VEN|    60-69|    488883|     329401|     818284|
|   VEN|    70-79|    427856|     362584|     790440|
|   VEN|    80-89|    282232|     274956|     557188|
|   VEN|      90+|     65800|      62925|     128725|
+------+---------+----------+-----------+-----------+